body{
    background-color: #cbf5e6;
}

header h1 {
    text-align: center;
    font-family: sans-serif;
}

header h1 img {
    position: absolute;
    left: 165px;
    top: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


.barra_navegacao{
    display: flex;
    justify-content:space-between;
    padding: 12px;
    text-decoration: none;
    background-color: #222;
    border-radius: 60px;
    font-size: 20px;
}

.barra_navegacao a{
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 40px;
}

.barra_navegacao a.ativo {
    background-color: #ffcc00;
    color: black;
}

a{
    text-decoration: none;
    color: aliceblue;
}


section{

    display: flex;
    flex-direction: column;
    align-items: center;      
    gap: 30px;                  
    text-align: center;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;      
    gap: 30px;                  
    text-align: center;
}

a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.sobre{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15;
    background-color: #deb100;
    padding: 30px;
    gap: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 15px #222;
}

.sobre h2{
    background-color: #222;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    color: #deb100;
    
}
.sobre p{
    width: 800px;
    height: 220px;
    background-color: #222;
    color: #fff;
    border-radius: 30px;
    padding: 30px;
}

.missao{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15;
    background-color: #deb100;
    padding: 30px;
    gap: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 15px #222;
}

.missao h2{
    background-color: #222;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    color: #deb100;
}

.missao p{
    width: 800px;
    height: 150px;
    background-color: #222;
    color: #fff;
    border-radius: 30px;
    padding: 30px;
}

.visao{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15;
    background-color: #deb100;
    padding: 30px;
    gap: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 15px #222;
}
.visao h2{
    background-color: #222;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    color: #deb100;
}
.visao p{
    width: 800px;
    height: 150px;
    background-color: #222;
    color: #fff;
    border-radius: 30px;
    padding: 30px;
}

.valores{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15;
    background-color: #deb100;
    padding: 30px;
    gap: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 15px #222;
}
.valores h2{
    background-color: #222;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    color: #deb100;
}
.valores ul{
    width: 300px;
    height: 200px;
    text-align: left;
    background-color: #222;
    color: #fff;
    border-radius: 30px;
    padding: 30px;
}
.valores li{
    border: "1" cellspacing="0";
} 


.estrutura h2{
    background-color: #222;
    width: 200px;
    height: 80px;
    align-content: center;
    border-radius: 15px;
    color:#deb100;

    
}
.estrutura img{
    width: 80%;
    border-radius: 30px;
    box-shadow: 0 4px 15px #222;
}

.lazer{
    width: 80%;
    background-color: #deb100;
    border-radius: 30px;
    box-shadow: 0 4px 15px #222;
}
.lazer h2{
    background-color: #222;
    width: 200px;
    margin: 15px;
    border-radius: 15px;
    color: #deb100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.lazer p{
    margin: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #222;
    color: #fff;
    width: 700px;
    height: 150px;
    border-radius: 30px;
    align-content: center;

}
.lazer img{
    width: 600px;
    border-radius: 30px;
}

.evento{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15;
    background-color: #deb100;
    padding: 30px;
    gap: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 15px #222;
    width: 75%;
}
.evento h2{
    background-color: #222;
    width: 200px;
    margin: 15px;
    border-radius: 15px;
    color: #deb100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.evento p{
    margin: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #222;
    color: #fff;
    width: 700px;
    height: 100px;
    border-radius: 30px;
    align-content: center;

}
.evento img{
    width: 700px;
    border-radius: 30px;
}

.evento a{
    background-color: rgb(14, 14, 75);
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    width: 150px;

}
.tabela{
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 0 4px 15px #222;
    background-color: #f7c319;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tabela table{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -20px;
    width: 80%;
    border: #0c6674 ;
    text-align: left;
}
.tabela h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #222;
    width: 450px;
    border-radius: 15px;
    color: #deb100;
}
.tabela th{
    background-color: #222;
    color: #ffd712;
    border-radius: 5px;
}
.tabela tr{
    background-color: #ffffff;
    border-radius: 5px;
}

.valores{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15;
    background-color: #deb100;
    padding: 30px;
    gap: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 15px #222;
}
.regras{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15;
    background-color: #deb100;
    padding: 30px;
    gap: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 15px #222;
}
.regras h2{
    background-color: #222;
    color:#deb100;
    width: 450px;
    border-radius: 15px;
    
}

.regras ul{
    align-content: center;
    background-color: #222;
    width: 400px;
    height: 200px;
    border-radius: 15px;
    color: #fff;
}

footer{
    width: 100%;
    height: 500px;
    background-color: #222;
    border-radius:  8px;
    text-decoration: wavy;
    color: #cbf5e6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}