body{
    background-color: beige;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    justify-content: center;

}

header h1 {
    text-align: center;
    font-family: sans-serif;
}

header h1 img {
    position: absolute;
    left: 165px;
    top: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


.barra_navegacao{
    display: flex;
    justify-content:space-between;
    padding: 12px;
    text-decoration: none;
    background-color: #222;
    border-radius: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
    .barra_navegacao a{
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 40px;
}

.barra_navegacao a.ativo {
    background-color: #ffcc00;
    color: black;
}

.orcamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffcc00;
    width: 800px;
    height: 200px;
    margin: 50px auto 30px auto;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 15px #222;
}

.orcamento h2{
    background-color: #222;
    color: #ffcc00;
    width: 350px;
    padding: 15px;
    text-align: center;
    border-radius: 50px;
   
}

.orcamento p{
    justify-content: center;
    font-size: 20px;
    padding: 10px;
    margin-left: 50px;
    background-color: #222;
    color: #fffdf5;
    width: 600px;
    border-radius: 30px; 
}

.servicos{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffcc00;
    width: 800px;
    height: 400px;
    margin: 50px auto 30px auto;
    padding-top: 10px;
    border-radius: 30px;
    box-shadow: 0 4px 15px #222;

}

.servicos h2{
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    margin-left: 100px;
    background-color: #222;
    color: #ffcc00;
    width: 300px;
    border-radius: 30px; 
    margin-left: 250px;
}

.servicos ul{
    justify-content: center;
    font-size: 20px;
    padding: 10px;
    margin-left: 50px;
    background-color: #222;
    color: #fffffe;
    width: 400px;
    border-radius: 30px; 
    margin-left: 200px;
}

.servicos li{
    justify-content: center;
    margin-left: 100px;
    width: 200px;
    border-radius: 30px; 
}

.cadastro-reserva{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffcc00;
    width: 800px;
    height: 700px;
    margin: 50px auto 30px auto;
    padding-top: 10px;
    border-radius: 30px;
    box-shadow: 0 4px 15px #222;
}

.cadastro-reserva h2{
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    margin-left: 100px;
    background-color: #222;
    color: #ffcc00;
    width: 300px;
    border-radius: 30px; 
    margin-left: 250px;

}

.cadastro-reserva form{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cadastro-reserva input{
    border-radius: 15px;
    width: 200px;
}

.cadastro-reserva label{
    display: inline-block;
    width: 80px;
    height: 30px;
    padding-top: 5px;
    text-align: center;
    background-color: #222;
    color: aliceblue;
    border-radius: 7px;

}

.cadastro-reserva textarea{
    border-radius: 15px;
}

.cadastro-reserva a{
    display: inline-block;
    background-color: #280d51;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 200px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}


.resumo-financeiro{
    background-color: #ffcc00;
    width: 800px;
    height: 200px;
    justify-content: center;    
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 4px 15px #222;
    margin: 50px auto 30px auto;
}

.resumo-financeiro h2{
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    margin-left: 100px;
    background-color: #222;
    color: #ffcc00;
    width: 300px;
    border-radius: 30px; 
    margin-left: 250px;

}

.resumo-financeiro table{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    text-align: left;
    margin: 50px auto 30px auto;
}

.resumo-financeiro th{
    background-color: #222;
    color: #ffd712;
    border-radius: 5px;
}
.resumo-financeiro tr{
    background-color: #ffffff;
    border-radius: 5px;

}


footer{
    width: 100%;
    height: 500px;
    background-color: #222;
    border-radius:  8px;
    text-decoration: wavy;
    color: #cbf5e6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;

}