body{
    background-color: #cbf5e6;
    font-family: system-ui, sans-serif;
}

header h1 {
    text-align: center;
    font-family: sans-serif;
}

header h1 img {
    position: absolute;
    left: 165px;
    top: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


.barra_navegacao{
    display: flex;
    justify-content:space-between;
    padding: 12px;
    text-decoration: none;
    background-color: #222;
    border-radius: 60px;
    font-size: 20px;
}

.barra_navegacao a{
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 40px;
}

.barra_navegacao a.ativo {
    background-color: #ffcc00;
    color: black;
}

a{
    text-decoration: none;
    color: aliceblue;
}

section{

    display: flex;
    flex-direction: column;
    align-items: center;      
    gap: 30px;                  
    text-align: center;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;      
    gap: 30px;                  
    text-align: center;
    margin-top: 30px;
}

img{
    border-radius: 20px;
}

section{
    font-size: 20px;
}

.loja {
    display: flex;
    width: 600px;
    flex-direction: column;
    align-items: center;      
    gap: 30px;                  
    text-align: center;
    margin-top: 30px;
    background-color: #ffcc00;
    border-radius: 20px;
}

.loja h2 {
    background-color: #222;
    width: 200px;
    border-radius: 20px;
    color: #ffcc00;
}

.loja p {
    background-color: #222;
    width: 500px;
    text-align: justify;
    padding: 20px;
    font-size: 18px;
    border-radius: 15px;
    color: #fff;
}

.roupas {
    display: flex;
    flex-direction: column;
    align-items: center;      
    gap: 30px;                  
    text-align: center;
    margin-top: 30px;
}

.roupas h2{
   font-size: 34px;
   background-color: #222;
   color: #ffcc00;
   width: 1100px;
   border-radius: 15px;
}


.blusa {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 30px;
    margin-top: 30px;
    background-color: #ffcc00;
    border-radius: 30px;
    
}

.descricao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    text-align: left;
}

.blusa h3 {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.blusa p {
    font-size: 18px;
    margin: 0;
    padding: 0;
}


.camiseta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 30px;
    margin-top: 30px;
    background-color: #ffcc00;
    border-radius: 30px;
    
}

.descricao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    text-align: left;
}

.camiseta h3 {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.camiseta p {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.short {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 30px;
    margin-top: 30px;
    background-color: #ffcc00;
    border-radius: 30px;
    
}

.descricao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    text-align: left;
}

.short h3 {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.short p {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.calcados h2{
   font-size: 34px;
   background-color: #222;
   color: #ffcc00;
   width: 1100px;
   border-radius: 15px;
}


.calcado {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 30px;
    margin-top: 30px;
    background-color: #ffcc00;
    border-radius: 30px;
    
}

.descricao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    text-align: left;
}

.calcado h3 {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.calcado p {
    font-size: 18px;
    margin: 0;
    padding: 0;
}


.sapato {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 30px;
    margin-top: 30px;
    background-color: #ffcc00;
    border-radius: 30px;
    
}

.descricao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    text-align: left;
}

.sapato h3 {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.sapato p {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.meias {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 30px;
    margin-top: 30px;
    background-color: #ffcc00;
    border-radius: 30px;
    
    
}

.descricao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    text-align: left;
}

.meias h3 {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.meias p {
    font-size: 18px;
    margin: 0;
    padding: 0;
}


.objeto h2{
   font-size: 34px;
   background-color: #222;
   color: #ffcc00;
   width: 1100px;
   border-radius: 15px;
}

.bola {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 30px;
    margin-top: 30px;
    background-color: #ffcc00;
    border-radius: 30px;
    
    
}

.descricao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    text-align: left;
}

.bola h3 {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.bola p {
    font-size: 18px;
    margin: 0;
    padding: 0;
}


.bola-futebol {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 30px;
    margin-top: 30px;
    background-color: #ffcc00;
    border-radius: 30px;
    
    
}

.descricao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    text-align: left;
}

.futebol h3 {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.futebol p {
    font-size: 18px;
    margin: 0;
    padding: 0;
}


.bola-volei {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 30px;
    margin-top: 30px;
    background-color: #ffcc00;
    border-radius: 30px;
    
    
}

.descricao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    text-align: left;
}

.volei h3 {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.volei p {
    font-size: 18px;
    margin: 0;
    padding: 0;
}


footer{
    width: 100%;
    height: 500px;
    background-color: #222;
    border-radius:  8px;
    color: #cbf5e6;
    text-decoration: wavy;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
