body{
    background-color: #cbf5e6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
    text-align: center;
    font-family: sans-serif;
}

header h1 img {
    position: absolute;
    left: 165px;
    top: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


.barra_navegacao{
    display: flex;
    justify-content:space-between;
    padding: 12px;
    text-decoration: none;
    background-color: #222;
    border-radius: 60px;
    font-size: 20px;
}

.barra_navegacao a{
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 40px;
}

.barra_navegacao a.ativo {
    background-color: #ffcc00;
    color: black;
}

.barra_navegacao a.ativo {
    background-color: #ffcc00;
    color: black;
}
a{
    text-decoration: none;
    color: aliceblue;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;      
    gap: 30px;                  
    text-align: center;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;      
    gap: 30px;                  
    text-align: center;
}

.conheca{
    background-color: #ffcc00;
    width: 800px;
    justify-content: center;    
    align-items: center;
    border-radius: 60px;
    box-shadow: 0 4px 15px #222;
    
}
.conheca h2{
    background-color: #222;
    width: 500px;
    border-radius: 15px;
    color: #ffcc00;
    width: 300px;
}

.video{
    width: 800px;
    height: 500px;
    border-radius: 60px;
    box-shadow: 0 4px 15px #222;
    background-color: #ffcc00;
}

.video h2{
    background-color: #222;
    width: 700px;
    border-radius: 15px;
    color: #ffcc00;
   
}

.tabela_modalidades{
    background-color: #ffcc00;
    width: 800px;
    justify-content: center;    
    align-items: center;
    border-radius: 60px;
    box-shadow: 0 4px 15px #222;
}

.tabela_modalidades table{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -20px;
    width: 80%;
    border: #0c6674 ;
    text-align: left;
}

.tabela_modalidades th{
    background-color: #222;
    color: #ffd712;
    border-radius: 5px;
}
.tabela_modalidades tr{
    background-color: #ffffff;
    border-radius: 5px;

}

.turmas{
    background-color: #ffcc00;
    width: 800px;
    justify-content: center;    
    align-items: center;
    border-radius: 60px;
    box-shadow: 0 4px 15px #222;
}

.turmas h2{
    background-color: #222;
    width: 350px;
    border-radius: 15px;
    color: #ffcc00;
}

.turmas a{
    background-color: #222;
    color: #ffcc00;
    width: 100px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
  
}


footer{
    width: 100%;
    height: 500px;
    background-color: #222;
    border-radius:  8px;
    color: #cbf5e6;
    text-decoration: wavy;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
